*{
  box-sizing: border-box;
}
  html {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 100%);

  }

  html,
  body {
    padding: 0;
    margin: 0;

  }
  p{
    margin-bottom: 2em;

  }
  .header{


  }
  section{
    padding-left: 1em;
    padding-right: 1em;
  }
  input{
    border: none;
    background-color: #e6e7e8;
    padding: .5em 1em;
    font-size: 1.2em;
    margin-bottom: 2em;
    width: 100%;
  }
  .headerimg{

    background-image: url('../img/header1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 24em;
    max-width: 55em;
    margin: auto;
    margin-top: 1em;

  }

  .header img{
    display: block;
    margin: auto;
    width: 50%
  }
  .center {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
  .rodape {
    display: block;
    text-align: center;
    width: 100%;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 1em;
    color: white;
    background-color: #91bfc7;
    padding: 3em;
    min-height: 14em
  }
  .rodape .email {
  margin-bottom: 1em;
}
.rodape .mid{
padding: 0.1em;
cursor: pointer;
max-width: 3em;
opacity: 1;
}
.rodape .mid:hover{
  opacity: .8;
}
  .texto{
    position: relative;
    margin: auto;
    text-align: center;
  }
  .texto-med {
    font-weight: 400;
              }
  .centerb{
    margin: auto;
    margin-top: 4em;
    margin-bottom: 5em;
    position: relative;
    max-width: 29em;
  }
  ::selection {
    background: #6dc6e8;
  }

  ::-moz-selection {
    background: #6dc6e8;
  }
  .invisivel {
    text-indent: -9999px;
    font-size: 0px;
  }
  button {
  min-width: 6em;
  border: 2px solid #020202;
  background-color: white;
  padding: 1.2em;
  display: block;
  position: relative;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1em;

   transition: all 0.2s ease;
}
.btncontainer *{
cursor:pointer;
margin: auto;
margin-top: 2em;
}
.btncontainer:hover button {
  background-color: black;
  color: white;
}
.btncontainer:hover button::after {
      /* top: -0.5em;
  left: 0.2em; */
}
section{
position: relative;
}
section.texto{
  min-height: 60vh;
}

button::after {
    content: '';
  display: block;
  position: absolute;
  top: -.9em;
  left: 0.5em;
  width: 100%;
  height: 100%;
  border: 2px solid #020202;
  background-color: white;
  z-index: -1;
  cursor:pointer;
}
label{
display: block;
margin-bottom: .5em;
}
a {
text-decoration: none;
color: inherit;
}
.equipe p a{
  border-bottom: 4px solid #91bfc7;
}
.equipe p a:hover{
  border-bottom: 2px solid black;
}
section.header li{
display: inline-block;
margin-top: 1em;
}
section.header li a.active {
border-bottom: 4px solid  #91bfc7;
}
section.header li a:hover{
border-bottom: 4px solid black;
}

section.header li:not(:last-child){
/* margin-right: 4em; */
}

section.header ul{
padding: 0;
list-style: none;

align-items: center;
padding: 0 1em;
border-radius: 5px;
margin: auto;
display: flex;
flex-flow: row wrap;
width: 100%;
justify-content: space-between;
max-width: 55em;
}
section.header .menu{
display: flex;

}

.equipe-card{
  text-align: left;
  margin-bottom: 3em;
  display: grid;
  grid-template-columns: auto auto;
  /* grid-gap: 10px; */
}
.equipe-card img {
    border-radius: 50%;
    margin-right: 2em;
    max-width: 12em;
    grid-row: 1 / span 2;
}
.equipe-card .nome {
  margin-top: 1em;
  display: block;
}
.equipe-card .bio {
   font-size: .9em;
   font-weight: normal;
   /* margin-top: 1em; */
   display: block;
}
.equipe .centerb {
    max-width: 37em;
}
@media only screen and (max-width: 480px) {
.header img{
  width: 80%;
}
}
