*{
  box-sizing: border-box;
}
  html {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 100%);

  }

  html,
  body {
    padding: 0;
    margin: 0;

  }
  p{
    margin-bottom: 2em;

  }
  .header{


  }
  section{
    padding-left: 1em;
    padding-right: 1em;
  }
  input{
    border: none;
    background-color: #e6e7e8;
    padding: .5em 1em;
    font-size: 1.2em;
    margin-bottom: 2em;
    width: 100%;
  }
  .headerimg{

    background-image: url('../img/header1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 24em;
    max-width: 55em;
    margin: auto;
    margin-top: 1em;

  }

  .header img{
    display: block;
    margin: auto;
    width: 50%
  }
  .center {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
  .rodape {
    display: block;
    text-align: center;
    width: 100%;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 1em;
    color: white;
    background-color: #91bfc7;
    padding: 3em;
    min-height: 14em
  }
  .rodape .email {
  margin-bottom: 1em;
}
.rodape .mid{
padding: 0.1em;
cursor: pointer;
max-width: 3em;
opacity: 1;
}
.rodape .mid:hover{
  opacity: .8;
}
  .texto{
    position: relative;
    margin: auto;
    text-align: center;
  }
  .texto-med {
    font-weight: 400;
              }
  .centerb{
    margin: auto;
    margin-top: 4em;
    margin-bottom: 5em;
    position: relative;
    max-width: 29em;
  }
  ::selection {
    background: #6dc6e8;
  }

  ::-moz-selection {
    background: #6dc6e8;
  }
  .invisivel {
    text-indent: -9999px;
    font-size: 0px;
  }
  button {
  min-width: 6em;
  border: 2px solid #020202;
  background-color: white;
  padding: 1.2em;
  display: block;
  position: relative;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1em;

   transition: all 0.2s ease;
}
.btncontainer *{
cursor:pointer;
margin: auto;
margin-top: 2em;
}
.btncontainer:hover button {
  background-color: black;
  color: white;
}
.btncontainer:hover button::after {
      /* top: -0.5em;
  left: 0.2em; */
}
section{
position: relative;
}
section.texto{
  min-height: 60vh;
}

button::after {
    content: '';
  display: block;
  position: absolute;
  top: -.9em;
  left: 0.5em;
  width: 100%;
  height: 100%;
  border: 2px solid #020202;
  background-color: white;
  z-index: -1;
  cursor:pointer;
}
label{
display: block;
margin-bottom: .5em;
}
a {
text-decoration: none;
color: inherit;
}
.equipe p a{
  border-bottom: 4px solid #91bfc7;
}
.equipe p a:hover{
  border-bottom: 2px solid black;

}
section.header li{
display: inline-block;
}
section.header li:not(:last-child){
margin-right: 4em;
}

section.header ul{
padding: 0;
list-style: none;

align-items: center;
padding: 0 1em;
border-radius: 5px;
margin: auto;
}
section.header .menu{
display: flex;
margin-top: 1em;
}
.edicao_revista{
width: 40em;
overflow: hidden;
height: 25em;
max-height: 25em;
background-image: url('../img/ed001_feed.jpg');
background-size: cover;
background-position: center;
margin: auto;
}
.edicao_revista:hover a{
opacity: 1;
}
.edicao_revista:hover div{
opacity: 0;

}
.edicao_revista div{
opacity: 1;
display: block;
transition: opacity .2s ease;
margin-top: 18.7em;
text-align: left;
margin-left: 3.3em;
border: 2px solid black;
display: block;
width: max-content;
padding: 1em;
position: absolute;
}
.edicao_revista a{
background-color: rgba(0, 0, 0, 0.29);
opacity: 0;
width: 100%;
height: 100%;
display: block;
transition: opacity .2s ease;
padding-top: 10em;
}
.edicao_revista a span{
display: block;
margin: auto;
font-size: 2em;
color:white;
}
@media only screen and (max-width: 480px) {
.header img{
  width: 80%;
}
}
